
<body>
<h2>Trails Available: </h2>



<% Trail.all.each do | t | %>
  <div> <%= link_to(t.name,trail_path(t), class: "trail-link")%> </div>
  
  <div style="margin-left:9px;">Number of nodes: <%=t.nodes.count%></div>
  <html>
  
<% end %>



</html>

</body>