// Place all the styles related to the trails controller here.
// They will automatically be included in application.css.
div {
  padding-top: 20px;
}
h2 {
  text-align: left;
}
form {
  text-align: center;
  width: 300px;
  padding: 50px;
  margin: 20px;
}
question {
  text-align: center;
}
